    p {
      font-family: Roboto, Arial;
      margin-top: 0;
      margin-bottom: 0;
    }

    body {
      margin: 0;
    }

    .thumbnail {
      width: 100%;
    }

    .des1 {
      display: inline-block;
      width: 200px;
      vertical-align: top;
      margin-top: 0px;
    }

    .thumbnail-row {
      margin-top: 12px;
      display: grid;
      grid-template-columns: 50px 1fr;
    }

    /* .channel-picture {
 
    } */

    .pic {
      width: 75%;
      margin-top: 0px;
      border-radius: 100%;
    }

    .video-info {
      font-family: Arial;
    }

    .video-title {
      font-weight: 500;
      font-size: 14px;
      margin-bottom: 12px;
      line-height: 18px;
    }

    .video-author {
      font-size: 12px;
      color: gray;
      margin-bottom: 4px;
    }

    .video-stats {
      font-size: 12px;
      color: gray;
    }